body {
  background: #fff;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.head {
  width: 510px;
  height: 120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.game {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
div.description {
  position: absolute;
  top: 425px;
  left: 50%;
  width: 300px;
  height: 250px;
  padding: 50px;
  background: #fff;
  color: #333;
  text-align: center;
  font-size: 15px;
  border-radius: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%) scale(0);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all;
  z-index: 1000;
}
.description.show {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.info {
  width: 40px;
  height: 40px;
  margin-left: 25px;
  border: none;
  border-radius: 50%;
  background: #88b1ef;
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: 0.1s background-color;
}
.info:hover {
  background: #6593d8;
}
.repeat {
  margin: 0 !important;
}
.a {
  font-size: 100px;
  font-weight: 200;
  margin-right: 15px;
}
.score {
  position: relative;
  width: 100px;
  height: 100px;
  top: 10px;
  font-size: 30px;
  font-weight: 400;
  color: grey;
  text-align: center;
}
.field,
.grid {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  width: 510px;
  height: 510px;
  margin: 0 auto;
  background: #888;
  border: 5px solid #888;
  border-radius: 0;
  display: table;
}
.field { z-index: 50; }
.grid { z-index: 100; }
.row,
.grid_row {
  width: 510px;
  height: 135px;
  position: relative;
  display: table-row;
}
.cell,
.grid_cell {
  position: relative;
  width: 125px;
  height: 125px;
  border: 5px solid #888;
  border-radius: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 50px;
  display: table-cell;
}
.cell { background: #fff; }
.grid_cell {
  background: #aaa;
  color: #fff;
}
div > div > div > div {
  position: absolute;
  opacity: 0;
}
.tile {
  opacity: 1;
  position: absolute;
  top: 0;
  left: -1px;
  width: 118px;
  height: 126px;
  background: #fff;
  color: #000;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  opacity: 1;
  z-index: 150;
  transition: 0.3s all;
}
#status {
  width: 100%;
  height: 100vh;
}
.won { background: #337538; transition: 0.3s all; }
.lose { background: #7d3c34; }
